* {
    margin: 0;
    padding: 0;
  }
:root{
    --main-radius: 0px;
    --main-padding: 0px;
}
.container{
display: grid;
height: 100vh;
grid-template-columns: repeat(4, 1fr);
grid-template-rows:0.2fr 1.5fr 1.2fr 0.8fr;
grid-template-areas:
"header header header header"
"sidebar main main main"
"sidebar content1 content2 content3"
"sidebar footer footer footer";
grid-gap: 0rem;
font-weight: 800;
text-transform: uppercase;
font-size: 12px;
color: #004d40;
text-align: center;
}
header{
    background: #b6d8ef;
    grid-area: header;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
 main{
    background: #e0a389;
    grid-area: main;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
.sidebar{
    background: #b6d8ef;
    grid-area: sidebar;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
.content1{
    background: #e0a389;
    grid-area: content1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
.content2{
    background: #e0a389;
    grid-area: content2;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
.content3{
    background: #e0a389;
    grid-area: content3;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
 footer{
    background-color: #ececec;
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    text-align: left;
}
.bullet {
    width: 500px;
    float: right;
    margin-right: 300px;
    list-style: none;
    counter-reset: li;
    }
    .bullet li {
    position: relative;
    margin-bottom: 1.5em;
    border: 3px solid #CADFCF;
    padding: 0.6em;
    border-radius: 4px;
    background: #FEFEFE;
    color: #231F20;
    font-family: "Trebuchet MS", "Lucida Sans";
    }
    .bullet li:before {
    position: absolute;
    top: -0.7em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    font-size: 16px;
    font-weight: bold;
    color: #DCC24B;
    background: #FEFEFE;
    border-radius: 50%;
    counter-increment: li;
    content: counter(li);
    }
.rightpic {
   float: left;
    margin: 0 0 5px 5px; 
       }
   
.insta{
    vertical-align: middle;
}
.connect{
    margin-bottom: 60px;
    color: 123C69;
}
.decor {
    position: relative;
    max-width: 300px;
    margin: 0px auto 0;
    background: white;
    border-radius: 30px;
 }
 .form-left-decoration, .form-right-decoration {
    content: "";
    position: absolute;
    width: 50px;
    height: 30px;
    background: #f69a73;
    border-radius: 20px;
 }
 .form-left-decoration {
    bottom: 60px;
    left: -30px;
 }
 .form-right-decoration {
    top: 60px;
    right: -30px;
 }
 .form-left-decoration:before, .form-left-decoration:after, .form-right-decoration:before, .form-right-decoration:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    border-radius: 30px;
    background: white;
 }
 .form-left-decoration:before {
    top: -20px;
 }
 .form-left-decoration:after {
    top: 20px;
    left: 10px;
 }
 .form-right-decoration:before {
    top: -20px;
    right: 0;
 }
 .form-right-decoration:after {
    top: 20px;
    right: 10px;
 }
 .circle {
    position: absolute;
    bottom: 80px;
    left: -55px;
    width: 20px;
    height: 50px;
    border-radius: 50%;
    background: white;
 }
 .form-inner {
    padding: 90px;
 }
 .form-inner input, .form-inner textarea {
    display: block;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 10px;
    background: #E9EFF6;
    line-height: 40px;
    border-width: 0;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
 }
 .form-inner input[type="submit"] {
    margin-top: 30px;
    background: #f69a73;
    border-bottom: 4px solid #d87d56;
    color: white;
    font-size: 14px;
 }
 .form-inner textarea {
    resize: none;
 }
 .form-inner h3 {
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #707981;
 }

 .study{
   margin-top: 30px;
   color: #832424;
 }
 .study2{
   margin-top: 30px;
   color: #832424;
 }
 .study3{
   margin-top: 30px;
   color: #832424;
 }
 a {
   color: #523e27;
 }
 
